{% extends "socialnetwork/base.html" %}

{% block navigation %}
    <div>
        <a href="{% url 'myprofile' %}" id="id_nav_profile">
            {{ user.first_name }} {{ user.last_name }}
        </a>
    </div>
    <div>
        <span>
            <a href="{% url 'global' %}" id="id_nav_global_stream">Global</a>
        </span>
        <span>
            <a href="{% url 'follower' %}" id="id_nav_follower_stream">Follower</a>
        </span>
        <span>
            <a href="{% url 'logout' %}" id="id_nav_logout">Logout</a>
        </span>
    </div>

{% endblock %}

{% block content %}
    <h2 id="id_page_name">Global Stream</h2>
    <form action="{% url 'global' %}" method="POST">
        <label>New Post:</label>
        <input type="text" id="id_post_input_text" name="text">
        <button id="id_post_button">Submit</button>
        {% csrf_token %}
    </form>

    <div id="error"></div>

    <div id="my_posts_go_here">

    </div>

    <script>

        var otherURL = function (id) {
            return "{% url 'other' 0 %}".replace("0",id)
        }
        var addCommentURL = "{% url 'add-comment' %}"

        window.onload=getGlobal;
        window.setInterval(getGlobal, 5000);
    </script>
{% endblock %}